#header{ 
    --background: #457b9d;
    --opacity: 0.99;
    color: white; 
}

#title{ 
    text-align: center; 
}

.button{ 
    --background: transparent;
    color:#1d3557;
}

#searchbarCont{
    --background: #a8dadc;
}

#searchbar{ 
    --background: #f1faee;
}

#body{
    --background:#a8dadc;
    --opacity: 0.2; 
}

#footer{
    position:fixed; 
    bottom:0;
    text-align: center;
    color:#1d3557;
    --background: #457b9d;
    --opacity: 0.99;
}

#cards{ 
    --background: #f1faee;
    opacity: 0.90;
    --color: #1d3557; 
    font-weight: bold; 
}