#header{ 
    --background: #1e2023;
    --opacity: 0.8;
    color: white; 
    font-weight: bold;
    text-align: center;
}

#searchbarCont{
    --background: #92949c;
}

#searchbar{ 
    --background: #9d9fa6;
}

#body{
    --background:#92949c;
    --opacity: 0.2; 
}

#footer{
    position:fixed; 
    bottom:0;
    text-align: center;
    color:white;
    --background: #1e2023;
    --opacity: 0.8;
}

#cards{ 
    --background: #808289;
    opacity: 0.8;
    --color: white; 
    font-weight: bold; 
}